VITE_SUPABASE_URL=https://bidscocoavylfgiiciyc.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZHNjb2NvYXZ5bGZnaWljaXljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3NjcyNjUsImV4cCI6MjA3OTM0MzI2NX0.W-CamcW5V4o7gM1CqA42B6zwDRhg37FIYKQn7rRxyz4
VITE_VAPID_PUBLIC_KEY=BIG62bCl1i7K1sbHUwTN7nmyn6VbnyBLtjK977_3YRxB6AObcAlvUfllqL9JT1SrsCbnIBNTNRw4M37KENKhGOo
